<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hidetut.fix.j2gliteware.camper1">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/tent"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Camp Essentials"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:noHistory="true"
            android:theme="@style/AppThemeNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="Help"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".dashboard.ControlPanel"
            android:label="Dashboard"
            android:theme="@style/AppThemeNoBar"
            />
        <activity
            android:name=".About"
            android:label="About The Developer"
            android:theme="@style/AppThemeNoBar" />
        <activity
            android:name=".bluetooth.DeviceSearchActivity"
            android:label="Local Devices" />
        <activity
            android:name=".dashboard.TemperatureListActivity"
            android:label="Temperature List"
            android:theme="@style/AppThemeNoBar"/>
        <activity
            android:name=".dashboard.LightingListActivity"
            android:label="Lighting List"
            android:theme="@style/AppThemeNoBar"/>
        <activity
            android:name=".dashboard.SoilListActivity"
            android:label="Soil List"
            android:theme="@style/AppThemeNoBar"/>
        <activity
            android:name=".dashboard.GasListActivity"
            android:label="Gas List"
            android:theme="@style/AppThemeNoBar"/>
        <activity
            android:name=".dashboard.SoundListActivity"
            android:label="Sound List"
            android:theme="@style/AppThemeNoBar"/>
        <activity
            android:name=".dashboard.TimeListActivity"
            android:label="Time List"
            android:theme="@style/AppThemeNoBar"/>
        <activity
            android:name=".dashboard.WaterListActivity"
            android:label="Water List"
            android:theme="@style/AppThemeNoBar"/>
        <activity
            android:name=".dashboard.EnergyListActivity"
            android:label="Energy List"
            android:theme="@style/AppThemeNoBar"/>
        <activity
            android:name=".dashboard.CoolingListActivity"
            android:label="Cooling List"
            android:theme="@style/AppThemeNoBar"/>
        <activity android:name=".dashboard.details.ItemDetailActivity"
            android:theme="@style/AppThemeNoBar"></activity>
    </application>

</manifest>
